<div class="arriv">
	<div class="container">
		<div class="arriv-top">
			<div class="col-md-6 arriv-left">
				<img src="images/1.jpg" class="img-responsive" alt="">
				<div class="arriv-info">
					<h3>Thời trang mới</h3>
					<p>Phong cách thời trang mới với CHIC KNITS</p>
					<div class="crt-btn">
						<a href="details">Chi tiết</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 arriv-right">
				<img src="images/2.jpg" class="img-responsive" alt="">
				<div class="arriv-info">
					<h3>TUXEDO</h3>
					<p>Phong cách thời trang mới với CHIC KNITS</p>
					<div class="crt-btn">
						<a href="/details">Mua ngay</a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="arriv-bottm">
			<div class="col-md-8 arriv-left1">
				<img src="images/3.jpg" class="img-responsive" alt="">
				<div class="arriv-info1">
					<h3>Áo len</h3>
					<p>Phong cách thời trang mới với CHIC KNITS</p>
					<div class="crt-btn">
						<a href="details">Mua ngay</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right1">
				<img src="images/4.jpg" class="img-responsive" alt="">
				<div class="arriv-info2">
					<a href="details"><h3>Thế giới giày<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="arriv-las">
			<div class="col-md-4 arriv-left2">
				<img src="images/5.jpg" class="img-responsive" alt="">
				<div class="arriv-info2">
					<a href="details"><h3>Kính thời trang<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="col-md-4 arriv-middle">
				<img src="images/6.jpg" class="img-responsive" alt="">
				<div class="arriv-info3">
					<h3>Áo thun đa dạng</h3>
					<div class="crt-btn">
						<a href="details">Mua ngay</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right2">
				<img src="images/7.jpg" class="img-responsive" alt="">
				<div class="arriv-info2">
					<a href="details"><h3>Đồng hồ đeo tay<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="special">
	<div class="container">
		<h3>Giảm giá đặc biệt</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details"><img src="images/8.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Set đồ nam lịch lãm</h5>
					<div class="item_add"><span class="item_price"><h6>Giá chỉ $40.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">Thêm vào giỏ</a></span></div>
				</div>
		</li>
		<li>
				<a href="details"><img src="images/9.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Đồng hồ Thụy Sĩ</h5>
					<div class="item_add"><span class="item_price"><h6>Giá chỉ $60.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">Thêm vào giỏ</a></span></div>
			</div>
		</li>
		<li>
				<a href="details"><img src="images/10.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Kính râm Hàn Quốc</h5>
					<div class="item_add"><span class="item_price"><h6>Giá chỉ $14.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">Thêm vào giỏ</a></span></div>
			</div>
		</li>
		<li>
				<a href="details"><img src="images/11.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Áo thun Khá Bảnh</h5>
					<div class="item_add"><span class="item_price"><h6>Giá chỉ $37.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">Thêm vào giỏ</a></span></div>
				</div>
		</li>
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>